<style>
div p {
    color: grey;
}
</style>

<div>
    <h1>About</h1>
    <p>
        Filmania is a social Network based on sharing of ones opinion about a movie they watched. You can check your friend's reviews and see what they are watching!
    </p>
    <p>
        Best voted reviews will be featured on the home page with the user id.
    </p>

    <h2>Privacy</h2>
    <p>
        Filmania accounts are password-protected. This web site takes every precaution to protect our users' information. Passwords are stored in hashed form in our database.
    </p>

    <h2>Coming Soon!</h2>
    <p>
        Point based shop will be added to Filmania soon.
    </p>
</div>