<h1>Team</h1>

<style>
p{
    margin:0;
}
p a{
    color: #fff;    
    margin-right: 5px;
    text-decoration: none;
}
p a:hover{
    text-decoration: none;
}
div{
    margin-bottom: 25px;
}
</style>
<br />
<div>
    <p style="margin: 2px 0px">
        Mannat Tuli
    </p>
    <span style="color:grey">Chief Exectuive Officer</span>   
    <p>
        <a href="https://twitter.com/mannattuli" style="text-decoration: none;">
            <i class="fa fa-twitter social"></i>
        </a>
    </p>
</div>
