<h1>Contact</h1>

<style>
p{
    margin:0;
}
p a{
    color: #fff;    
    margin-right: 5px;
    text-decoration: none;
}
p a:hover{
    text-decoration: none;
}
div{
    margin-bottom: 25px;
}
</style>
<p>Have any query? Ask using the form below!</p>
<form action="https://formspree.io/f/xleaoejd" method="POST">
    <label>
        <input name="name" class="label1" placeholder="Your Full Name" />
    </label>
    <br /><br />
    <label>
    <input
        type="email"
        name="_replyto"
        class="label1"
        placeholder="Your Email"
    />
    </label>
    <br /><br />
    <label>
    <textarea
        name="message"
        class="label2"
        placeholder="Your Message"
    ></textarea>
    </label>
    <br /><br />
    <button class="submitbuttons" type="submit"><b>Send</b></button>
</form>